@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
@media (max-width: 768px){
    .faculty-spaces .space{
        width: 45% !important;
    }
    .container{
        width: 100%;
    }
    .identity-logos-mobile img{
        width: 75%;
    }
}
@media (min-width: 768.1px) and (max-width: 1400px){
    .identity-logos-mobile{
        display: flex !important;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto 2%;
        justify-content: center;
        align-items: center;
    }
    .identity-logos-mobile img:nth-child(1){
        width: 33%;
    }
    .identity-logos-mobile img:nth-child(2){
        width: 50%;
        height: fit-content;
    }
}
@media (max-width: 1400.1px) {
    .identity-logos{
        display: none !important;
    }
    .identity-logos-mobile{
        display: flex !important;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto 2%;
        justify-content: center;
    }
    .identity-logos-mobile img{
        width: 80%;
    }
}
.identity-logos-mobile{
    display: none;
}
.identity-logos{
    position: absolute;
    top: 100px;
    left: 8vw;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    justify-content: center;
}
.identity-logos img{
    width: 350px;
}
.identity-logos p{
    text-align: center;
}


/*JUST FOR FUN*/
.gifs{
    width: 302px;
    height: 302px;
    content: "";
    background: url("spinning-arrows.gif");
    background-size: 302px 302px;
}
.gifs2{
    width: 800px;
    height: 800px;
    content: "";
    background: url("source.gif");
    background-size: 800px 800px;
}

.arrow {
    position: absolute;
    width: 300px;
    height: 300px;
}
.circle {
    position: absolute;
    box-sizing: border-box;
    height: 300px;
    width: 300px;
    border: 25px solid #192a67;
    border-radius: 50%;
    -webkit-clip-path: inset(0 40% 0 0);
    clip-path: inset(0 40% 0 0);
}
.triangle {
    position: absolute;
    width: 70px;
    height: 50px;
    background: #192a67;
    margin-top: -10px;
    margin-left: 140px;
    -webkit-clip-path: polygon(50% 0, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0, 0% 100%, 100% 100%);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.arrow:hover {
    -webkit-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg);
    transition: all 1.2s ease-in-out;
}
/*end*/
.container, .header-info {
    width: 90%;
    margin: 0 auto;
}
.header-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header-info p{
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
}
.home-button{
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
}
.home-button button{
    width: 85px;
    height: 65px;
    background-color: black;
    color: white;
    position: sticky;
    font-size: 45px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.home-button button img{
    width: 85px;
    height: 65px;
    position: relative;
    left: -8px;
}
.home-button button img:focus, button:focus{
    outline: none;
}
#button-up{
    display: none;
}

.home-button button:hover, .home-button button:focus, .home-button button:active {
    background-color: #2098D1;
    color: white;
    cursor: pointer;
}

.faculties-container {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: start;
}

.faculty-level-one, .faculty-level-two, .faculty-level-three{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.faculty-level-two{
    align-items: center;
}
.faculty {
    display: flex;
    flex-wrap: wrap;
    width: 130px;
    background-color: darkgray;
    height: 130px;
    border-radius: 130px;
    align-items: center;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.faculty:hover, .faculty:focus, .faculty:active{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}
.labs-quantity{
    width: 275px;
    height: 275px;
    border-radius: 275px;
    /background: radial-gradient(circle, rgba(255,255,255,1) 91%, rgba(169,169,169,1) 100%);
    background-color: #F9F8FF;
}
.faculty-name, .faculty-labs {
    width: 100%;
    text-align: center;
    height: fit-content;
    color: white;
}
.labs-quantity .faculty-name{
    margin: 0;
    font-size: 1.7em;
    color: black;
}

.faculty-name {
    margin-top: 15px;
}

.mef .faculty-name {
    margin-top: 0;
}

.faculty-labs {
    font-size: 35px;
    margin-top: -15px;
}

.communication {
    background-color: #818990;
    border: #818990 solid 1px;
    right: -15px;
    top: -15px;
}

.eicea {
    background-color: #FF9900;
    border: #FF9900 solid 1px;
    right: -85px;
    bottom: -30px;
}

.engineering {
    background-color: #936D47;
    border: #936D47 solid 1px;
    left: -25px;
    top: -25px;
}

.living-lab {
    background-color: #192A67;
    border: #192A67 solid 1px;
    bottom: -50px;
}

.medicine {
    background-color: #FFD91C;
    border: #FFD91C solid 1px;
    right: -30px;
    bottom: -20px;

}

.mef {
    background-color: #D0D3D4;
    border: #FFD91C solid 3px;
    right: -2px;
    top: 2px;
}
.mef2{
    position: relative;
    right: -28px;
    width: 140px;
    background-color: #753BBD;
    height: 140px;
    border-radius: 140px;
}
.faculty.mef :nth-child(1) {
    margin: 5px 0 0 0;
}
.faculty.mef :nth-child(2) {
    margin: -25px 0 0 0;
}
.faculty.mef :nth-child(3) {
    margin: -23px 0 0 0;
}

.psychology {
    background-color: #753BBD;
    border: #753BBD solid 1px;
    right: -95px;
    top: -35px;
}
.total-labs{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 850px;
    font-size: 35px;
    margin: 20px auto 0;
    padding: 15px 0;

}
.total-labs-right, .total-labs-left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
}
.total-labs-right{
    justify-content: flex-start;
    padding-left: 25px;
}
.total-labs-left{
    border-right: 2px black solid;
    width: 45%;
    /margin-right: -15px;
}
.number {
    font-size: 135px;
    letter-spacing: 2px;
    text-align: center;
}
.quantity-labs-description{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 22px;
}
.quantity-labs-description .number{
    font-size: 45px;
    letter-spacing: -1px;
    margin-right: 10px;
}

.faculty-header {
    display: flex;
    width: 90%;
    align-items: center;
    height: 100px;
    color: white;
    margin: 0 auto;
}
.faculty-header.mef .faculty-header-name{
    font-size: 28px;
    line-height: 28px;
}
.faculty-info{
    display: none;
}
.faculty-header-name {
    width: 25%;
    border-right: 1.5px solid white;
    font-size: 40px;
}

.faculty-header-content {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
}

.content, .faculty-header-name {
    text-align: center;
}
.innovation-text{
    text-align: center;
    font-size: 23px;
    margin: 5px 0 5px;
}
.underline{
    width: 50%;
    margin: 0 auto;
    border-bottom: 3px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.underline:hover, .underline:focus, .underline:active {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.quantity {
    font-size: 28px;
}

.faculty-spaces {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    margin: 2% auto;
    /content-visibility: hidden;
}

.space {
    width: 23%;
    height: fit-content;
    border: 2px solid gray;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
    overflow: visible;
    margin-bottom: 15px;
}

.space-title, .space-subtitle {
    width: 100%;
    text-align: center;
}

.space-title {
    text-decoration: underline;
    font-size: 23px;
    min-height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.space-info {
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.location, .area {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.location p{
    min-height: 38px;
    vertical-align: center;
}

.location-icon {
    width: 15px;
    margin-right: 5px;
}

.division {
    width: 2px;
    background-color: black;
    height: 30%;
    margin: auto 0;
}

.capacity {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 2px solid;
}

.capacity p {
    width: 100%;
    text-align: center;
}

.normal, .actual {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 12px;
}

.normal span, .actual span {
    width: 100%;
    font-size: 20px;
    text-align: center;
}
.more{
    width: 95%;
    overflow: hidden;
    z-index: 0;
}
.btn{
    display: block;
    position: relative;
    text-align: center;
    margin: 5px auto;
}
li{
    list-style: none;
}
.more-info{
    overflow: hidden;
    max-height: 0;
    background-color: white;
    border: 2px solid gray;
/*z-index: 0 !important;*/
}
.mas-info a, .mas-info a:visited{
    text-decoration: none !important;
    color: #192A67 !important;
}
.mas-info{
    margin: 5px 0;
}


.item:hover .more-info{
    max-height: fit-content;
    overflow: visible;
    border-radius: 5px;
    margin: 9px 0 0 ;
    padding-bottom: 5px;
    transition-duration: 0.3ms;
    z-index: 4;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    /*transition: all 5s ease-in-out;*/
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    /*transition: all 200ms;*/
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .more-info1 {
    max-height: 30%;
    overflow: auto;
}
.popup .space-title{
    width: 80%;
    margin: 0 auto;
}
.classification{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 2px solid;
    padding: 7px 0;
}
.substantive-functions{
    font-size: 13px;
}
.classification-text, .classification-level{
    width: 40%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.description{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
}
.description span{
    text-decoration: underline;
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
}
