.filterDiv {
    color: #000;
    border: 1px solid gray;
    width: 100%;
    text-align: center;
    margin: 20px 2px;
    display: none;
    border-radius: 5px;
  }
  
  .show {
    display: block;
  }
  
p{
    margin: 0 !important;
}
.filterDiv .btn{
    transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .25s ease-in-out;
    background-color: transparent;
    color: black;
    border-color: black;
}

  /* Style the buttons */

  .name-rg{
      position: relative;
      top: -10px;
      left: -10px;
      background-color: white;
      height: fit-content;
      display: flex;
      width: 400px;
      justify-content: space-between;
  }
  .name-rg .square-color p{
      line-height: normal;
      margin: 0;
      color: black;
      padding: 5px 7px;
      text-align: center;
  }
  .name-rg .square-color{
      display: block;
      line-height: normal;
      width: 20px;
  }

.name-rg .square-color:last-child{
    margin-left: -3px;
}
.name-rg p{
    width: 400px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 0;
    border-left: 0;

}
  .content-info{
      display: flex;
      height: 150px;
      width: 100%;
      justify-content: space-evenly;
  }
  .section-one, .section-three{
      width: 27%;
  }
  .section-two{
      width: 18%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  }
  .section-four{
      width: 25%;
  }
  .section-title{
      height: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .section-one .section-title, .section-three .section-title{
      text-decoration: underline;
      font-size: 16px;
  }
  .section-desc{
      height: 60%;
  }
  .section-desc a{

  }
  .section-two .section-title, .section-two .section-desc{
      height: 35%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
.section-two .section-desc{
    margin: -25px 0 0;
}
  .separation-line{
      border-left: 1px solid black;
      height: 90%;
  }
.section-four .section-desc{
    display: flex;
    align-items: center;
    justify-content: center;
}
.popover{
    text-align: justify !important;
    width: fit-content !important;
    max-width: 400px !important;
}

.ods{
    width: 30%;
    font-size: 20px;
}
.ods-numbers{
    width: 40%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.ods-numbers div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid darkcyan;
    border-radius: 5px;
}
.EICEA .ods-numbers div{
    border-color: #FF9900;
}
.comunicacion .ods-numbers div{
    border-color: #818990;
}
.derecho .ods-numbers div{
    border-color: #C7211D;
}
.enfermeria .ods-numbers div{
    border-color: #D0D3D4;
}
.lenguas .ods-numbers div{
    border-color: #8E2C48;
}
.CTA .ods-numbers div{
    border-color: #D29F13;
}
.familia .ods-numbers div{
    border-color: #97D700;
}
.medicina .ods-numbers div{
    border-color: #FFD91C;
}
.ingenieria .ods-numbers div{
    border-color: #936D47;
}
.filosofia .ods-numbers div{
    border-color: #1374AA;
}
.educacion .ods-numbers div{
    border-color: #68B5E2;
}
.psicologia .ods-numbers div{
    border-color: #753BBD;
}
.comunicacion .ods-numbers div{
    border-color: #818990;
}
.comunicacion .ods-numbers div{
    border-color: #818990;
}

.EICEA .square-color{
    background-color: #FF9900;
}
.comunicacion .square-color{
    background-color: #818990;
}
.derecho .square-color{
    background-color: #C7211D;
}
.enfermeria .square-color{
    background-color: #D0D3D4;
}
.lenguas .square-color{
    background-color: #8E2C48;
}
.CTA .square-color{
    background-color: #D29F13;
}
.familia .square-color{
    background-color: #97D700;
}
.medicina .square-color{
    background-color: #FFD91C;
}
.ingenieria .square-color{
    background-color: #936D47;
}
.filosofia .square-color{
    background-color: #1374AA;
}
.educacion .square-color{
    background-color: #68B5E2;
}
.psicologia .square-color{
    background-color: #753BBD;
}
.INALDE .square-color {
    background-color: #000000;
}
.clinica .square-color{
    background-color: #192A67;
}
.EICEA .btn:hover, .EICEA .btn:focus, .EICEA .btn:active{
    background-color: #FF9900;
    border-color: #FF9900;
    color: white;
}
.comunicacion .btn:hover, .comunicacion .btn:focus, .comunicacion .btn:active{
    background-color: #818990;
    border-color: #818990;
    color: white;
}
.derecho .btn:hover, .derecho .btn:focus, .derecho .btn:active{
    background-color: #C7211D;
    border-color: #C7211D;
    color: white;
}
.enfermeria .btn:hover, .enfermeria .btn:focus, .enfermeria .btn:active{
    background-color: #D0D3D4;
    border-color: #D0D3D4;
    color: white;
}
.lenguas .btn:hover, .lenguas .btn:focus, .lenguas .btn:active{
    background-color: #8E2C48;
    border-color: #8E2C48;
    color: white;
}
.CTA .btn:hover, .CTA .btn:focus, .CTA .btn:active{
    background-color: #D29F13;
    border-color: #D29F13;
    color: white;
}
.familia .btn:hover, .familia .btn:focus, .familia .btn:active{
    background-color: #97D700;
    border-color: #97D700;
    color: white;
}
.medicina .btn:hover, .medicina .btn:focus, .medicina .btn:active{
    background-color: #FFD91C;
    border-color: #FFD91C;
    color: white;
}
.ingenieria .btn:hover, .ingenieria .btn:focus, .ingenieria .btn:active{
    background-color: #936D47;
    border-color: #936D47;
    color: white;
}
.filosofia .btn:hover, .filosofia .btn:focus, .filosofia .btn:active{
    background-color: #1374AA;
    border-color: #1374AA;
    color: white;
}
.educacion .btn:hover, .educacion .btn:focus, .educacion .btn:active{
    background-color: #68B5E2;
    border-color: #68B5E2;
    color: white;
}
.psicologia .btn:hover, .psicologia .btn:focus, .psicologia .btn:active{
     background-color: #753BBD;
     border-color: #753BBD;
     color: white;
 }
.clinica .btn:hover, .clinica .btn:focus, .clinica .btn:active{
    background-color: #192A67;
    border-color: #192A67;
    color: white;
}

#select-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#title-area h1{
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: black;
    text-align: center !important;
}
#title-area h1 span{
    font-size: 145px;
    margin-bottom: -40px;
}
p.clarification-text{
    width: 100%;
    margin: 10px 0 !important;
    text-align: center;
}
.clarification-text a{
    text-decoration: underline;
}
.footer{
    width: 100%;
    position: relative;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    height: 135px;
    justify-content: space-around;
    border-top: 7px solid #192a67;
    /background-color: #192a67;
}
.footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 18px;
}
.footer .footer-images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    margin: 0 auto;
}
.footer-img1{
    width: 260px;
}
.footer-img2{
    width: 250px;
}
.footer-img3{
    width: 280px;
}
.content-container{
    min-height: calc(100vh - 135px);
    position: relative;
}